@tailwind base;

@layer base {
  body {
    @apply text-slate-800;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl text-center mb-4;
  }
  h3 {
    @apply text-lg;
  }

  svg {
    @apply fill-current z-0;
  }
  input:not[type='submit'] {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
}

@tailwind components;

@layer components {
  .card {
    @apply bg-slate-50 bg-opacity-40 backdrop-filter backdrop-blur-md text-slate-700 p-4 rounded-md shadow-lg;
  }

  .svg-icon {
    @apply w-6 h-6 inline fill-current text-slate-700;
  }

  .main-bg {
    background-image: url('https://images.unsplash.com/photo-1512641406448-6574e777bec6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: cover;
  }

  .daily-list {
    @apply flex w-3/5 justify-between items-center;
  }

  .line {
    @apply stroke-slate-600 fill-transparent stroke-[0.25rem];
    /* @apply hover:stroke-[0.5rem] transition-all duration-200 ease-in-out; */
  }

  .tooltip {
    @apply bg-slate-200  text-slate-700 p-4 rounded-md shadow-lg;
    @apply absolute z-50 text-xs font-semibold text-center;
    @apply transition-opacity duration-500 ease-in-out;
    @apply flex flex-col items-center max-w-[6rem];
  }

  .dot {
    @apply opacity-0  stroke-transparent stroke-[0.75rem];
    @apply hover:fill-slate-200 hover:opacity-100 hover:cursor-pointer transition-all duration-200 ease-in-out;
  }
  .label {
    @apply text-sm;
  }

  .label-title {
    @apply text-xl;
  }

  .placeholder {
    @apply bg-gradient-to-r from-blue-500 to-blue-800 animate-pulse rounded-lg mb-1 relative flex justify-center items-center;
    @apply before:absolute  before:bg-gradient-to-r before:from-slate-500 before:to-slate-600  before:w-10/12 before:h-3/4 before:rounded-lg;
  }
}

@tailwind utilities;

@layer utilities {
  .z--10 {
    z-index: -10;
  }
  .z--20 {
    z-index: -20;
  }

  .z-100 {
    z-index: 100;
  }
}
